@media only screen and (min-width: 768px) {
	*{
		position:absolute;}
}
@media only screen and (max-width: 1440px) {
	*{position:obsolute;}
}
@media only screen and (max-width: 1199px) {
	*{position: absolute;}
}
@media only screen and (max-width: 575px) {
	*{position:absolute;}
}
@media only screen and (max-width: 460px) {
	*{position:relative;}
}
@media only screen and (max-width: 320px) {
	*{position:relative;(
}

