@media only screen and (min-width: 768px) {
	.collapse navbar-collapse {
		display:block !important;
		height:auto !important;
	}
.navbar navbar-default navbar-fixed-top{	
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
	}
